.grouping {
  width: 80%;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 40px;
  padding-right: 16px;
  .groupingActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .groupingOne {
      margin-bottom: 36px;
      & h3 {
        font-family: IRANYEKAN;
        font-size: 16px;
        color: #000000;
      }
    }
    .groupingTwo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 32px;
      & span {
        width: 14%;
        & a {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          text-decoration: none;
          & div {
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
              width: 53.77%;
            }
          }
          & p {
            font-weight: 700;
            color: #0c0c0c;
            font-size: 14px;
            font-family: BNAZANIN;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
